# Binarios y Temporales
*.tmp
*.exe
*~
movimientos_arka_crud
main

# IDEs
.vscode

# Variables de Entorno
*.env
!develop.env
!template.env

# Otros
.scannerwork/
swagger/**
!swagger/*.json
!swagger/*.yml
